

<title>HomePage</title>

<header>
    {% if user.is_authenticated %}
        <h4>Welcome {{ user.username }} !</h4>
        <a href="{% url 'users:profile' %}">Profile</a> |
        <a href="{% url 'home:about' %}">About</a> |
        <a href="{% url 'users:logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'users:register' %}">Register</a> |
        <a href="{% url 'users:login' %}">Login</a> |
        <a href="{% url 'home:about' %}">About</a>
    {% endif %}
</header><br><br><br>
<body>
    <h1>Home Page</h1>
    <h2>This page will contain news about me. But later.</h2>
</body>